<div class="content" *ngIf="isShowList" [@opacityAnimation]>
	<ng-container *ngTemplateOutlet="listTemplate; context: {data: data}"></ng-container>
</div>
<button (click)="onBtnClick()">{{ buttonName }}</button>
<button (click)="onRestoreClick()">Restore</button>
<ng-template #listTemplate let-data="data">
	<ul #listEle>
		<ng-container *ngFor="let list of data; trackBy: trackById">
			<li (click)="onListClick($event, list)" [@inOutAnimation] [@.disabled]="isDisabledAnimation">
				<span>{{ list.name }}</span>
				<i *ngIf="list.children.length; else delete" class="right-arrow">
          >
        </i>
				<ng-template #delete>
					<i class="delete-icon" (click)="onDelete($event, list.id)">x</i>
				</ng-template>

				<ng-container *ngIf="collapseMode === mode.Collapse">
					<ng-container *ngTemplateOutlet="listTemplate; context: {data: list.children}"></ng-container>
				</ng-container>
			</li>
		</ng-container>
	</ul>
</ng-template>